@use 'mixins' as *;

.card {
    display: grid;
    grid-template-columns: 0.5fr 4fr 0.5fr;
    overflow: auto;
    gap: var(--grid-gap);
    left: 0;
    right: 0;
    background: var(--bg-color);
    padding: 40px 0;
    border-radius: 5px;
    width: clamp(min(52%, 100%), 100%, 52vw);
    max-height: 80vh;
    color: black;
    transform: translate(-10%);


    * {
        grid-column: 2;
        width: 100%;
        max-height: 100%;
    }

    &__title {
        font-size: var(--fs-big);
        font-weight: var(--font-weight-large);
    }

    &__description {
        font-size: var(--fs-bigger-medium);
        color: #a3a3a3;
        font-weight: var(--font-weight-large);
    }

    &__content {

        .content__item {
            display: grid;
            grid-template-columns: 0.5fr 4fr;
            padding: 5px;
            font-weight: var(--font-weight-large);

            svg {
                grid-column: 1/1;
            }

            p {
                grid-column: 2/2;
            }
        }

    }

    &__close {
        grid-column: 3;
        grid-row: 1;
        cursor: pointer;
        width: 60%;
        height: 60%;
        position: relative;
        place-self: top;
        transition: scale 0.2s ease;

        &:hover {
            scale: 1.10;
        }

        &::after {
            content: url(../icons/close.svg);
            position: absolute;
            inset: 0;
            place-self: center center;
        }
    }

    @include for-size(tablet) {
        transform: translate(-40%);
        width: min(100%, 60%);
    }

    @include for-size(smalltablet) {
        max-height: 50vh;
        transform: translate(-50%, 85%);
        width: 100%;
    }

    @include for-size(mobile) {
        grid-template-columns: 0.3fr 4fr 0.3fr;
        column-gap: 0;
        padding: 20px 0;
        // background: var(--dark-bg-color);

        &__title {
            font-size: var(--fs-bigger-intermediate);
        }

        &__close {
            margin-left: -15px;

            &::after {
                place-self: end;
            }
        }
    }
}