@use 'mixins' as *;

$headerWidth: 250px;
$buttonWidth : 50px;

header {
    display: grid;
    position: absolute;
    z-index: 1000000000;
    height: 100%;
    width: 100%;
    max-width: min(250px, 100%);
    background-color: #333333e1;
    text-align: center;
    align-content: center;
    overflow: hidden;
    // transform: translate(0);
    transition: max-width 0.3s, transform 0.3s ease;

    >nav {
        transition: opacity 0.2s ease-in-out;

        // @starting-style {
        //     opacity: 0;
        // }

        >ul {
            display: grid;
            row-gap: 20px;

            li {
                cursor: pointer;
            }

            a {
                color: white;
            }
        }
    }

    &.opened {
        transform: translate(0);
    }

    &.closed {
        transform: translate(calc(-100% + $buttonWidth));
    }

    button {
        cursor: pointer;
        height: 100%;
        width: 50px;
        position: absolute;
        place-self: end;
        color: transparent;
        border: none;
        font-size: 16px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #555555e1;
        }

        // &::after {
        //     content: 'X';
        //     position: absolute;
        //     color: white;
        //     font-size: 20px;
        // }

        &::before {
            content: '≡';
            position: absolute;
            inset: 0;
            place-self: center;
            color: white;
        }
    }

    @include for-size(mobile) {
        bottom: 0;
        max-height: 30%;
        max-width: 100%;

        &.opened {
            transform: translate(0, 0);
        }

        &.closed {
            transform: translate(0, calc(100% - $buttonWidth));
        }

        // transform: translate(0);
        // transition: transform 0.3s ease;
        button {
            top: 0;
            height: $buttonWidth;
            width: 100%;
        }
    }
}