@use 'mixins' as *;

$headerWidth: 250px;
$buttonWidth : 50px;

header {
    display: grid;
    position: absolute;
    z-index: 1000000000;
    height: 100%;
    // min-height: min-content;
    width: 100%;
    max-width: min(250px, 100%);
    background-color: #333333e1;
    text-align: center;
    align-content: center;
    overflow: hidden;
    // padding-top: 50px;
    // transform: translate(0);
    transition: transform 0.3s ease;

    >nav {

        >ul {
            display: grid;
            row-gap: 20px;

            li {
                cursor: pointer;
            }

            a {
                color: white;
            }
        }
    }

    &.opened {
        transform: translate(0);
    }

    &.closed {
        transform: translate(calc(-100% + $buttonWidth));
    }

    button {
        cursor: pointer;
        height: 100%;
        width: 50px;
        position: absolute;
        place-self: end;
        color: transparent;
        border: none;
        overflow: hidden;
        font-size: 16px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #555555e1;
        }

        &::before {
            content: '≡';
            position: absolute;
            inset: 0;
            place-self: center;
            color: white;
        }
    }

    @include for-size(mobile) {
        bottom: 0;
        // padding-top: calc($buttonWidth + 10px);
        // padding-bottom: $buttonWidth;
        height: $buttonWidth;
        max-width: 100%;
        place-items: center;

        // &.opened {
        //     transform: translate(0, 0);
        // }

        // &.closed {
        //     transform: translate(0, calc(100% - $buttonWidth));
        // }

        // button {
        //     top: 0;
        //     height: $buttonWidth;
        //     width: 100%;
        // }

        >nav {

            >ul {
                grid-template-columns: repeat(4, 1fr);
                gap: 15px;
                place-items: center;

                li {
                    cursor: pointer;
                }

                a {
                    color: white;
                }
            }
        }
    }
}

body:has(.card) header {
    z-index: 1;
}