$headerWidth: 250px;
$buttonWidth : 50px;

header {
    display: grid;
    position: absolute;
    z-index: 1000000000;
    height: 100%;
    width: 100%;
    max-width: min(250px, 100%);
    background-color: #333333e1;
    text-align: center;
    align-content: center;
    overflow: hidden;
    // transform: translate(0);
    transition: max-width 0.3s, transform 0.3s ease;

    >nav {
        transition: opacity 0.2s ease-in-out;

        // @starting-style {
        //     opacity: 0;
        // }

        >ul {
            display: grid;
            row-gap: 20px;

            li {
                cursor: pointer;
            }

            a {
                color: white;
            }
        }
    }

    &.opened {
        transform: translate(0);
    }

    &.closed {
        transform: translate(calc(-100% + $buttonWidth));
    }

    // &.closed {
    //     // animation: forwards slideToLeft 0.3s;
    //     // position: fixed;
    //     // transform: translate3d(calc(-100% + 50px), 0, 0);
    //     left: -200px;
    // }

    button {
        cursor: pointer;
        height: 100%;
        width: 50px;
        position: absolute;
        place-self: end;
        // background-color: #333333e1;
        color: transparent;
        border: none;
        // padding: 10px 20px;
        font-size: 16px;
        transition: background-color 0.3s ease;
        // border-radius: $borderRadius;

        &:hover {
            background-color: #555555e1;
        }

        // &::after {
        //     content: 'X';
        //     position: absolute;
        //     color: white;
        //     font-size: 20px;
        // }

        &::before {
            content: '≡';
            position: absolute;
            inset: 0;
            place-self: center;
            color: white;
        }
    }
}