// @use "animations";

/* TAGS  */
.tags_container {
    display: flex;
    flex-wrap: wrap;
    // max-height: 25px;
    gap: 10px;
    align-items: center;

    >a {
        width: fit-content;
    }

    .tag {
        font-size: var(--fs-bigger-medium);
        box-shadow: 0 0 0 1px color-mix(in oklab, var(--dark-bg-color) 35%, transparent);
        // outline: 1px solid color-mix(in oklab, var(--dark-bg-color) 35%, transparent);
        display: flex;
        overflow: hidden;
        max-height: 30px;
        gap: 10px;
        border-radius: .75rem;
        padding: 1.1rem;
        background-color: var(--dark-bg-color);
        // font-weight: var(--font-weight-large);
        width: fit-content;
        align-items: center;
        color: white;
        transition: scale 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

        img {
            width: 25px;
            transition: scale 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

            &:hover {
                scale: 1.15;
                animation: balancing 2s ease infinite alternate;
            }
        }

        &:hover {
            scale: 1.05;
        }
    }
}